<!-- ============================================ -->
<!--                Contact Strip                 -->
<!-- ============================================ -->

<div id="contact-strip-325">
    <ul class="cs-stat-group">
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/phone-gold.svg" alt="icon" width="35" height="40" loading="lazy" decoding="async" aria-hidden="true" href="tel:336-909-4108">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Phone</span>
                <a class="cs-link" href="tel:336-909-4108">+1 (336) 909 4108</a>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/mail-gold.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Email</span>
                <a class="cs-contact-link" href="mailto:info@pinkmagnoliarealty.com">info@pinkmagnoliarealty.com</a>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/pin-gold.svg" alt="icon" width="40" height="35" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Address</span>
                <p class="cs-address">Piedmont Triad, North Carolina</p>
            </div>
        </li>
    </ul>
</div>
                                