<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-269">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="back to home" class="cs-logo" href="/">
                <img src="/assets/images/PMR-logo-home.png" alt="logo" width="158" height="83" aria-hidden="true" decoding="async">
            </a>
            <p class="cs-text">
                We know finding the right home is a big step. Let's make it a memorable one and start your next chapter today.
            </p>
            <br>
            <a class="cs-social-group cs-social-link" aria-label="visit facebook profile" href="https://www.facebook.com/people/Pink-Magnolia-Realty-LLC/61554083318961/" target="_blank" rel="noopener noreferrer">
                <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Social/Facebook.svg" alt="facebook" width="6" height="11">
            </a>
            <br>
        </div>
        <!-- Links -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Sitemap</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/">Home</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/about/">About</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/learnmore/">Learn More</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="https://triadmls.com/offices/974647" target="_blank" rel="noopener noreferrer">Listings</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/reviews/">Reviews</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/contact/">Contact</a>
            </li>
        </ul>
        <!-- Contact Info -->
        <ul class="cs-contact">
            <li class="cs-nav-li">
                <span class="cs-header">Contact Info</span>
            </li>
            <li class="cs-contact-li">
                <a class="cs-contact-link" href="tel: 336-909-4108">(336) 909-4108</a>
            </li>
            <li class="cs-contact-li">
                <a class="cs-contact-link" href="mailto:info@pinkmagnoliarealty.com">info@pinkmagnoliarealty.com</a>
            </li>
            <!-- Social Media
            <li class="cs-contact-li cs-social-group">
                <div class="cs-social">
                    <a class="cs-social-link" aria-label="visit google profile" href="">
                        <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Social/google.svg" alt="google" width="11" height="11">
                    </a>
                    
                    <a class="cs-social-link" aria-label="visit instagram profile" href="">
                        <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Social/instagram.svg" alt="instagram" width="11" height="11">
                    </a>
                </div>
            </li> -->
        </ul>
    </div>
</footer>
                                