---
title: "About | Pink Magnolia Realty | Mint City Web Design"
description: "A boutique brokerage focused on putting our clients needs at the forefront of everything we do!"
preloadImg: "/assets/images/pattern-d.jpg"
permalink: "/about/"
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/pattern-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/pattern-d.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/pattern-d.jpg" alt="flower pattern" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/sunset-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/sunset-d.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/sunset-d.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/about-portrait-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/about-portrait-d.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/about-portrait-d.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Pink Magnolia Realty</h2>
                <p class="cs-text">
                    Welcome to Pink Magnolia Realty, a boutique real estate brokerage proudly serving the Piedmont Triad of North Carolina. Whether you're finding your perfect home or maximizing your property's value, we are committed to delivering the best outcomes and ensuring you feel supported throughout every step of the journey.
                    <br><br>Real estate is more than just a transaction, it's part of your life and your dreams, and we are truly honored to help make it a success. We believe that every client deserves a personalized experience tailored to their unique needs. That's why at Pink Magnolia Realty, we go above and beyond to ensure you feel informed, confident, and excited about your next move.
                </p>
                <h3>Serving the Piedmont Triad</h3>
                <p class="cs-text">
                    From the vibrant city life of Greensboro and Winston-Salem to the scenic beauty of High Point and beyond, we are passionate about helping our clients find the right property in the Piedmont Triad.<br>No matter where you're looking to buy or sell in the Triad, we know the local market inside and out. We're here to help you navigate it with confidence.
                </p>
                <h4>Meet Sharon and Steven McGee</h4><br>
                <p>
                    Pink Magnolia Realty is proudly owned by <a href="sharon">Sharon McGee</a> and her son, <a href="steven">Steven McGee</a>, who bring a combined experience of nearly 15 years in the real estate industry. As a family-owned business, we approach each transaction with care, integrity, and a deep understanding of what it means to make your dreams a reality.
                </p>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}