---
title: "Contact | Pink Magnolia Realty | Mint City Web Design"
description: "Contact information"
preloadImg: "/assets/images/pattern-d.jpg"
permalink: "/contact/"
eleventyNavigation:
    key: Contact Us
    order: 500
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Contact Us</h1>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/pattern-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/pattern-d.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/pattern-d.jpg" alt="flower pattern" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="cs-contact">
        <div class="cs-container">
            <form id="cs-form" name="Contact Form" method="post">
                <div class="cs-content">
                    <span class="cs-topper">Contact</span>
                    <h2 class="cs-title">Get in Touch</h2>
                    <p class="cs-text">
                        We'd love to hear from you! Whether you're looking for your dream home, selling a property, or just have questions about the real estate market, Pink Magnolia Realty is here to help. Reach out to our team and one of our friendly agents will get back to you shortly.
                    </p>
                </div>
                <label>
                    Name
                    <input required type="text" id="name" name="name" placeholder="Name">
                </label>
                <label>
                    Email
                    <input required type="text" id="email" name="email" placeholder="Email">
                </label>
                <label>
                    Phone
                    <input required type="text" id="phone" name="phone" placeholder="Phone">
                </label>
                <label>
                    How Did You Find Us
                    <input type="text" id="find" name="find-us" placeholder="How did you find us?">
                </label>
                <fieldset>
                    <legend>Do you currently have a realtor?</legend>
                    <input type="radio" id="realtor_status_yes" name="realtor_status" value="yes_realtor"></input><label for="realtor_status_yes">I have a realtor</label>
                    <input type="radio" id="realtor_status_no" name="realtor_status" value="no_realtor" checked></input><label for="realtor_status_no">I do not have a realtor</label>
                </fieldset>
                <label class="cs-label-message">
                    Message
                    <textarea required name="Message" id="message" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-button-solid" type="submit">Submit Message</button>
            </form>
            <div class="cs-right-section">
                <!--Email-->
                <span class="cs-header">Email</span>
                <a class="cs-link" href="mailto:{{client.email}}">{{client.email}}</a>
                <!--Phone-->
                <span class="cs-header">Phone</span>
                <a class="cs-link" href="tel:{{client.phoneForTel}}">{{client.phoneFormatted}}</a>
                <!--Location-->
                <span class="cs-header">Location</span>
                <a class="cs-link" href="{{client.address.mapLink}}">
                    <span class="cs-block">
                        Piedmont Triad, NC
                    </span>
                </a>

                <!-- Background Image-->
                <picture class="cs-bg-picture">
                    <source media="(min-width: 601px)" srcset="/assets/images/contact-m.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/contact-d.jpg" alt="people" loading="lazy" width="2500" height="1667">
                </picture>

            </div>
        </div>
    </section>
{% endblock %}