---
title: "Reviews | Pink Magnolia Realty | Mint City Web Design"
description: "Some reviews of Pink Magnolia Realty"
preloadImg: "/assets/images/pattern-d.jpg"
permalink: "/reviews/"
eleventyNavigation:
    key: Reviews
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Reviews</h1>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/pattern-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/pattern-d.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/pattern-d.jpg" alt="flower pattern" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Reviews                     -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="container">
            <div class="review">
                <p>
                    I had Sharon to assist us to sell our home. She was wonderful in assisting with open houses and always being willing to talk and assist me with anything that I needed. After the house was sold, we started to look for a new property. We asked for Sharon's assistance with that as well. Before long we made an offer and purchased the next house. I will continue to use Sharon for all of my future realtor needs. She was always thinking about the next step & assisting us with any questions we ever had. I highly recommend her. 
                </p>
                <div class="star-group">
                    <span class="name">Christine Tong<span class="desc">Winston Salem, NC</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <p>
                    Sharon is an absolute jewel. Some friends in North Davidson recommended her, and I cannot imagine having anyone more personable and professional. Mine was a small yet laborious sale. She was helpful and patient throughout. I recommend her wholeheartedly.
                </p>
                <div class="star-group">
                    <span class="name">Joan Dressler<span class="desc">Winston Salem, NC</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <p>
                    From the moment my wife and I contacted, then contracted with Next Home's Sharon McGee, she made us feel very comfortable with this whole process of selling our home. All of the paperwork was done electronically and in a timely manner. Everything was very professional and expedient. I'm comfortable recommending Sharon's real estate services to anyone who is desiring to sell or purchase their home.
                </p>
                <div class="star-group">
                    <span class="name">Kojo A.<span class="desc">Winston Salem, NC</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <p>
                    Sharon is great to work with. She listens to your wants needs and must haves. Sharon will work tirelessly to help you find your dream home. She is very knowledgeable about all aspects of housing. She is available at most any times. If she can't talk right then she will call back asap. I would highly recommend her to anyone looking to buy or sell!!
                </p>
                <div class="star-group">
                    <span class="name">Tim Andrews<span class="desc">Lexington, NC</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <p>
                    Sharon is the best. She helped us through every step. She made this process so easy and enjoyable. She went above and beyond for us. She was always very prompt with correspondence.
                </p>
                <div class="star-group">
                    <span class="name">Susan L. Andrews<span class="desc">Lexington, NC</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <p>
                    Sharon was dedicated to professionalism but contributed a family style feeling. She was always there to answer questions via phone or text, and always with a warm, soothing voice. Buying a house is one thing that can be very stressful. Sharon turned that feeling of buying a house into the comfort of purchasing a house into reality that you're moving into your future "home." I highly recommend you allow Sharon to assist you in finding your new home.
                </p>
                <div class="star-group">
                    <span class="name">Michael Shafit<span class="desc">Winston Salem, NC</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <p>
                    Thank you for your assistance in selling our home. You did a great job, and we are happy we chose you over the others we interviewed!
                </p>
                <div class="star-group">
                    <span class="name">C. Williams<span class="desc">High Point, NC</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <p>
                    I would have to start off by saying I was not an easy person to deal with. I was on a time crunch to have to find a place and get everything done in less than two months. I want to say Steven knocked it out the park. He made my stress level more of a 4 when it was a 10 plus. Any question I had I always received an answer. He was there for me every step of the way and even after. I recommend him to any one that wants an easy way to get to your perfect home as stress free as possible. An absolute blessing.
                </p>
                <div class="star-group">
                    <span class="name">Heidi Hansen<span class="desc">Winston Salem, NC</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <p>
                    I was not preparing to buy a house but was able to go through the whole process in 3 weeks from touring to signing. Steven held my hand and worked with me every step of the way. He arranged an extra viewing for my family, helped me find contractors and arranged appointments for minor inspection finds, really went the extra mile for everything. Helped translate house issues post closing and has stopped by since to check progress. I was not ready when I began this journey but I was by the end thanks to Steven.
                </p>
                <div class="star-group">
                    <span class="name">Elizabeth L. Watson<span class="desc">Winston Salem, NC</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <p>
                    Steven was hands down one of the most professional and best Real Estate Agents that I have worked with over the last 20 years in the business. Without a doubt, he will stand up for what is best for his clients and will put the time in and do what it takes to make sure the deal goes smoothly. Hands down... 100%... I would recommend him to anyone considering working with him. He is great!
                </p>
                <div class="star-group">
                    <span class="name">Dana Mace<span class="desc">High Point, NC</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <p>
                    Steven went out of his way to find me the house I wanted. He drove 2-3 hours away with me to look at houses I was interested in, on several occasions. He puts all his effort into getting you your dream house. I would highly recommend him as a realtor. He was the absolute best!
                </p>
                <div class="star-group">
                    <span class="name">Susan Watson<span class="desc">Old Fort, NC</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <p>
                    Steven made finding a house in this fast-paced market way easier and more painless than I thought possible. He was always ready with an answer to any question I had and even helped me find moving supplies and movers. Absolutely have and would recommend!
                </p>
                <div class="star-group">
                    <span class="name">Weston Cook<span class="desc">Winston Salem, NC</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}