---
title: "About Steven | Pink Magnolia Realty | Mint City Web Design"
description: "A boutique brokerage focused on putting our clients needs at the forefront of everything we do!"
preloadImg: "/assets/images/sharon-portrait-d.webp"
permalink: "/about/steven/"
eleventyNavigation:
    key: Steven McGee
    order: 2
    parent: About Us
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/steven.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Steven</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/pattern-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/pattern-d.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/pattern-d.jpg" alt="flower pattern" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/steven-portrait-m.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/steven-portrait-d.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/steven-portrait-d.jpg" alt="portrait of Steven McGee" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Meet Your Agents</span>
                <h2 class="cs-title">Steven McGee</h2>
                <p class="cs-text">
                    Steven McGee, a proud North Carolina native, has just under 6 years of experience. With a background in Media & Journalism and Religious Studies from The University of North Carolina at Chapel Hill, Steven combines his strong communication skills with a passion for real estate to deliver outstanding service. As the Qualifying Broker and Chief Marketing Expert, he's dedicated to making sure every client's needs are met with the highest level of care and professionalism.
                </p>
            </div>
        </div>
    </section>

{% endblock %}