/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #meet-team-1141 {
        padding: var(--sectionPadding);
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: 542/16rem;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-button-solid {
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                background: #98A556;
            }
        }

        .cs-button-solid {
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-card-group {
            width: 100%;
            max-width: 630/16rem;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* 16px - 20px */
            gap: clamp(1rem, 2.3vw, 1.25rem);
            position: relative;
        }

        .cs-item {
            list-style: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            text-decoration: none;
            align-items: center;
            position: relative;

            &:hover {
                .cs-picture {
                    &:before,
                    &:after {
                        opacity: 1;
                    }

                    img {
                        transform: scale(1.1);
                    }
                }

                .cs-info {
                    background-color: var(--primaryLight);
                }

                .cs-name,
                .cs-job {
                    color: var(--bodyTextColorWhite);
                }
            }
        }

        .cs-picture {
            width: 100%;
            height: auto;
            margin: 0 0 (8/16rem) 0;
            /* removed at tablet */
            aspect-ratio: (328/407);
            border-radius: (16/16rem);
            /* clips the img corners */
            overflow: hidden;
            /* clips img tag from overflowing it on hover */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
                object-position: top;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: transform 0.7s;
            }
        }

        .cs-info {
            width: 90%;
            margin: (-42/16rem) 0 0;
            padding: (16/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            background-color: var(--primary);
            border-radius: (12/16rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            z-index: 10;
            transition: background-color 0.3s;
        }

        .cs-name {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (4/16rem) 0;
            color: var(--bodyTextColorWhite);
            display: block;
            transition: color 0.3s;
        }

        .cs-job {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin-right: 0;
            color: var(--bodyTextColorWhite);
            display: block;
            transition: color 0.3s;
        }
    }
}

/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
    #meet-team-1141 {
        .cs-card-group {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
        }

        .cs-item {
            width: 100%;
        }

        .cs-picture {
            height: (407/16rem);
            /* remove the aspect ratio so the height can be squished */
            aspect-ratio: initial;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 56.25rem) {
    #meet-team-1141 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-content {
            text-align: left;
            width: 55%;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-card-group {
            justify-content: center;
            flex-wrap: nowrap;
        }

        .cs-item {
            width: 100%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #meet-team-1141 {
            .cs-title {
                color: var(--secondary);
            }

            .cs-topper{
                color: var(--secondaryLight);
            }

            .cs-job,
            .cs-name,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-job {
                opacity: 0.8;
            }

            .cs-info {
                background-color: var(--medium);
            }

            .cs-item {
                &:hover {
                    .cs-info {
                        background-color: #98A556;
                    }
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-1505 {
        padding: var(--sectionPadding);
        position: relative;
        overflow: hidden;
        background-color: rgba(233, 197, 200, .4),;
        z-index: 1;
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 32px - 48px */
            gap: clamp(2rem, 6vw, 3rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-button-solid {
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                background: #98A556;
            }
        }

        .cs-button-solid {
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-title {
            /* 32px - 48px */
            margin: 0 0 clamp(2rem, 5vw, 3rem);
        }

        .cs-card-group {
            margin: 0;
            padding: 0;
            display: grid;
            /* changed at desktop */
            grid-template-columns: repeat( auto-fit, minmax(17rem, 1fr) );
            /* 16px - 20px */
            gap: clamp(1rem, 1.7vw, 1.25rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            margin: 0;
            padding: (32/16rem);
            background-color: #fff;
            border: 1px solid #E8E8E8;
            border-radius: (32/16rem);
        }

        .cs-number {
            font-size: (49/16rem);
            line-height: 1.2em;
            font-weight: 900;
            color: var(--primary);
            /* 8px - 72px */
            margin: 0 0 clamp(.5rem, 6vw, 4.5rem);
            display: block;
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            margin: 0;
        }

        .cs-image-group {
            position: relative;
            overflow: hidden;
            border-radius: 0 0 (86/16rem) (86/16rem);
            z-index: 1;
        }

        .cs-picture {
            width: 100%;
            /* 240px - 376px */
            height: clamp(15rem, 46vw, 23.5rem);
            display: block;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .cs-mask {
            --maskColor: #F2FAF8;

            height: auto;
            position: absolute;
            top: 0;
            left: -1px;
            right: -1px;
        }

        .cs-faq-group {
            width: 100%;
            max-width: (650/16rem);
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: (12/16rem);
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            background-color: #fff;
            border: 1px solid #E8E8E8;
            /* 24px - 32px */
            border-radius: clamp(1rem, 2.4vw, 2rem);
            /* clips all corners of the button that overlap the rounded border */
            overflow: hidden;
            transition: border-color .3s;

            &.active {
                border-color: var(--primary);
                .cs-button {
                    color: var(--primary);
                    .cs-indicator {
                        &:before {
                            transform: translate(-50%, -50%) rotate(360deg);
                        }

                        &:after {
                            transform: translate(-50%, -50%) rotate(0deg);
                        }
                    }
                }
                .cs-item-p {
                    height: auto;
                    /* 20px - 24px bottom */
                    /* 16px - 24px left & right */
                    padding: 0 clamp(1rem, 2vw, 1.5rem) clamp(1.25rem, 1.3vw, 1.5rem);
                    opacity: 1;
                }
            }
        }

        .cs-button {
            font-size: (20/16rem);
            line-height: 1.2em;
            text-align: left;
            font-weight: bold;
            /* 16px - 24px */
            padding: clamp(1rem, 2vw, 1.5rem);
            background-color: #fff;
            border: none;
            color: var(--headerColor);
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            position: relative;
            transform-style: preserve-3d;
            perspective: 700px;
            transition: background-color .3s, color .3s;

            &:hover {
                cursor: pointer;
            }

            .cs-indicator {
                /* 40px - 48px */
                width: clamp(2.5rem, 4vw, 3rem);
                height: clamp(2.5rem, 4vw, 3rem);
                background-color: #fff;
                border: 1px solid #BABABA;
                border-radius: 50%;
                position: relative;
                z-index: 1;

                &:before {
                    /* left line */
                    content: '';
                    width: (16/16rem);
                    height: (2/16rem);
                    background-color: #767676;
                    opacity: 1;
                    border-radius: 2px;
                    position: absolute;
                    display: block;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: transform .5s;
                }
    
                &:after {
                    /* right line */
                    content: '';
                    width: (16/16rem);
                    height: (2/16rem);
                    background-color: #767676;
                    opacity: 1;
                    border-radius: 2px;
                    position: absolute;
                    display: block;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(90deg);
                    transition: transform .5s;
                }
            }
        }

        .cs-button-text {
            width: 80%;
            display: block;
        }

        .cs-item-p {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            width: 90%;
            height: 0;
            margin: 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2vw, 1.5rem);
            opacity: 0;
            color: var(--bodyTextColor);
            /* clips the text so it doesn't show up */
            overflow: hidden;
            transition: opacity .3s, padding-bottom .3s;
        }

        .cs-floater {
            display: none;
            position: absolute;
        }

        .cs-floater1 {
            width: (312/16rem);
            height: auto;
            margin-right: (700/16rem);
            top: (144/16rem);
            right: 50%;
            transform: rotate(8deg);
        }

        .cs-floater2 {
            width: (207/16rem);
            height: auto;
            margin-left: (840/16rem);
            top: (330/16rem);
            left: 50%;
            transform: rotate(8deg);
        }

        .cs-top {
            width: 100%;
            min-width: (1920/16rem);
            height: auto;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
        }

        .cs-bottom {
            width: 100%;
            min-width: (1920/16rem);
            height: auto;
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #faq-1505 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            max-height: (616/16rem);
            width: 40%;
            text-align: left;
            align-items: flex-start;
            /* prevents flexbox from squishing it */
            flex: none;
            /* sends it to the right in the 2nd position */
            order: 0;
        }

        .cs-card-group {
            /* pushes up against the other flex items so it pushes to the bottom of the flexbox */
            margin-top: auto;
            grid-template-columns: 1fr 1fr;
        }

        .cs-item {
            grid-column: span 1;
        }
    }
}

/* Larger Desktop - 1600px */
@media only screen and (min-width: 100rem) {
    #faq-1505 {
        .cs-floater {
            display: block;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #faq-1505 {
            background-color: #182211;
            
            .cs-topper {
                color: var(--secondaryLight);
            }
            
            .cs-title {
                color: var(--secondary);
            }

            .cs-item-p {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                background-color: rgba(0, 0, 0, .2);
                border-color: rgba(255, 255, 255, .2);
            }

            .cs-number {
                color: var(--secondary);
            }

            .cs-mask {
                --maskColor: #061a28;
            }

            .cs-item-text {
                color: var(--bodyTextColorWhite);
                opacity: .8;
            }

            .cs-faq-item {
                background-color: rgba(255, 255, 255, .1);
                border-color: rgba(255, 255, 255, .2);
                &.active {
                    border-color: var(--tertiary);
                    .cs-button {
                        color: var(--tertiary);
                        
                        &:before, &:after {
                            background-color: var(--bodyTextColorWhite);
                        }
                    }
                }
            }

            .cs-button {
                background-color: transparent;
                color: var(--bodyTextColorWhite);
                &:before, &:after {
                    background-color: var(--bodyTextColorWhite);
                }
            }

            .cs-indicator {
                background-color: rgba(0, 0, 0, .2);
                border-color: rgba(255, 255, 255, .2);
                &:before, &:after {
                    background-color: var(--bodyTextColorWhite);
                }
            }

            .cs-top, .cs-bottom {
                path {
                    fill: var(--dark);
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---          Listings          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #pricing-1183 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            min-width: (214/16rem);
            padding: 0 (32/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            /* 16px - 20px */
            gap: clamp(1rem, 1.8vw, 1.25rem);
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-item {
            list-style: none;
            width: 100%;
            margin: 0;
            /* 24px - 40px top & Bottom */
            /* 16px - 32px left & right */
            padding: clamp(1.5rem, 3vw, 2.5rem) (24/16rem);
            background-color: #f7f7f7;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #pricing-1183 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-card-group {
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            flex-wrap: nowrap;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #pricing-1183 {
            background-color: var(--dark);

            .cs-topper {
                color: var(--secondaryLight);
            }

            .cs-title {
                color: var(--secondary);
            }
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-1672 {
        padding: var(--sectionPadding);
        background-color: rgba(233, 197, 200, .1),;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 40px - 64px */
            gap: clamp(2.5rem, 4.5vw, 4rem);
        }

        .cs-content {
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-title {
            margin: (0/16rem);
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);

        }

        .cs-item {
            list-style: none;
            width: 100%;
            /* 20px - 40px top & bottom */
            /* 20px - 40px left & right */
            padding: clamp(1.25rem, 3.15vw, 2.5rem) clamp(1.25rem, 3.15vw, 2.5rem);
            background-color: #f7f7f7;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            display: flex;
            grid-column: span 12;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            position: relative;
            /* 24px - 48px */
            gap: clamp(1.5rem, 4vw, 3rem);
        }

        .cs-flex-group {
            /* this margin top auto will push everything up and force the cs-flex-group to the bottom of the container. This is to account for review cards with different heights because of more or less text and makes the cards more responsive to changing text */
            margin-top: auto;
            display: flex;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .cs-name {
            /* 20px - 25px */
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
            margin-top: auto;
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            /* 14px - 16px */
            font-size: (16/16rem);
            line-height: 1.5em;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            gap: (16/16rem);
        }

        .cs-item-stars {
            width: (108/16rem);
            height: auto;
        }

        .cs-review {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1.25rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            z-index: 1;
        }

        .cs-quote {
            width: (86/16rem);
            height: auto;
            position: absolute;
            right: (0/16rem);
            bottom: (0/16rem);
            z-index: 0;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-1672 {
        .cs-item {
            grid-column: span 4;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-1672 {
            .cs-topper {
                color: var(--secondaryLight);
            }

            .cs-title {
                color: var(--secondary);
            }

            .cs-review,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                background-color: rgba(0, 0, 0, .2);
            }

            .cs-job {
                color: var(--bodyTextColorWhite);
                opacity: 0.7;
            }

            .cs-quote {
                opacity: 0.2;
            }
        }
    }
}
